// font families

@mixin font-family {
  font-family: $ff-default;
  font-weight: 400;

  strong,
  b {
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
    font-weight: 400;
  }
}


// font sizes and line heights

@mixin font-size--s {
  font-size: 1rem;
  line-height: 1.25;
}

@mixin font-size--m {
  font-size: 1.25rem;
  line-height: 1.25;
}

@mixin font-size--l {
  font-size: 2rem;
  line-height: 1.125;
}

@mixin font-size--xl {
  font-size: 2.25rem;
  line-height: 1.0625;
}


// font colors

@mixin font-colors {
  color: $gray-dark;

  a {
    color: $gray-dark;
  }

  h1 {
    color: $day;
  }

  h2 a,
  h3 a {
    color: $orange-dark;

    &::after {
      content: '\2192';
      padding-left: .125rem;
    }
  }
}


// typeset

html {
  @include pagezoom;
  @include font-family;
  @include font-colors;
}

body {
  color: $gray-dark;
  font-size: 1rem;
  line-height: 1.375;
}

h1 {
  color: $day;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.0625;
  max-width: 42rem;
}

h2 {
  @include margin-fix;
  color: $orange-dark;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 4rem;
  max-width: 42rem;
}

h3 {
  @include margin-fix;
  color: $orange-dark;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 42rem;
}

hr {
  @include margin-fix;
  background-color: rgba($gray-dark, .125);
  height: .0625rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}

p {
  @include margin-fix;
  hyphens: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 42rem;

  a {
    border-bottom: .0625rem $gray-dark dashed;

    &::after {
      content: '\2192';
      padding-left: .125rem;
    }
  }

  a:hover {
    border-bottom: .125rem $gray-dark solid;
  }

  strong,
  i,
  b,
  em {
    hyphens: none;
  }
}

blockquote {
  @include margin-fix;
  font-size: 1.125rem;
  font-style: italic;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 42rem;

  p {
    font-size: 1.125rem;
    font-style: italic;

    .text &:first-of-type {
      font-size: 1.125rem;
    }
  }

  cite {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }
}
