$ff-default: 'VistaSans', serif;

$day: #fff;
$night: #000;
$orange: #ee7030;
$orange-dark: #e07030;
$mud: #a29789;
$gray-light: #f7f7f7;
$gray-dark: #535353;

$mq-s: 'only screen and (min-width: 36em)';
$mq-m: 'only screen and (min-width: 54em)';
$mq-l: 'only screen and (min-width: 72em)';
