@font-face {
  font-family: 'VistaSans';
  src: url('../fonts/VistaSans400.woff2') format('woff2'),
       url('../fonts/VistaSans400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'VistaSans';
  src: url('../fonts/VistaSans400i.woff2') format('woff2'),
       url('../fonts/VistaSans400i.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'VistaSans';
  src: url('../fonts/VistaSans700.woff2') format('woff2'),
       url('../fonts/VistaSans700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
