.headline {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  max-width: 72rem;
  padding: 2rem;
  width: 100%;

  @media #{$mq-m} {
    padding: 2rem 4rem;
  }

  &__icon {
    align-items: center;
    background-color: $mud;
    border-radius: 50%;
    color: $day;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    height: 3rem;
    justify-content: center;
    margin-right: 1rem;
    width: 3rem;

    @media #{$mq-m} {
      height: 4rem;
      width: 4rem;
    }

    svg {
      display: block;
      height: 1.5rem;
      width: 1.5rem;

      @media #{$mq-m} {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  &__text {
  }
}
