.list-accounts {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  @media #{$mq-m} {
  }

  @media #{$mq-l} {
  }

  &__item {
    width: auto;
    flex: 0 0 auto;
    margin-top: 2rem;
    min-width: 16rem;
    padding-right: 2rem;
  }
}
