.list-supporters {
  display: flex;
  flex-flow: row wrap;
  max-width: 72rem;
  padding: 1.5rem;
  width: 100%;

  @media #{$mq-m} {
    padding: 1.5rem 3.5rem;
  }

  &__item {
    flex: 0 0 auto;
    padding: .5rem;
    width: 50%;

    a,
    span {
      align-items: center;
      background-color: $day;
      display: flex;
      height: 8rem;
      justify-content: center;
      padding: 1rem;
      text-align: center;
    }

    @media #{$mq-s} {
      width: 33.333%;
    }

    @media #{$mq-m} {
      width: 25%;
    }

    @media #{$mq-l} {
      width: 20%;
    }

    img {
      display: block;
      height: auto;
      max-height: 4rem;
      max-width: 100%;
      width: auto;
    }
  }
}
