.list-events {
  display: flex;
  flex-flow: row wrap;
  max-width: 72rem;
  width: 100%;
  padding: 0 1rem;

  @media #{$mq-m} {
    padding: 0 2rem;
  }

  &__item {
    padding: 2rem 1rem;
    width: 100%;

    @media #{$mq-s} {
      width: 50%;
    }

    @media #{$mq-m} {
      padding: 2rem;
    }

    @media #{$mq-l} {
      width: 25%;
    }

    time {
      display: block;
      margin-bottom: 1rem;
    }
  }
}
