.list-news {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  max-width: 72rem;
  width: 100%;

  &:first-child {
    padding-top: 4rem;
  }

  @media #{$mq-m} {
    padding: 0 2rem;
  }

  &__item {
    flex: 0 0 auto;
    padding: 2rem;
    width: 100%;

    @media #{$mq-m} {
      width: 50%;
    }

    p {
      font-size: 1.125rem;
    }

    time {
      display: block;
      font-style: italic;
      margin-bottom: 1rem;
    }

    &__meta {
    }

    figure {
      background-color: $mud;
      display: block;
      float: left;
      margin-right: 1rem;
      margin-top: .25rem;

      img {
        display: block;
        height: 5rem;
        mix-blend-mode: luminosity;
        width: 7.5rem;
      }
    }
  }

  &__feature {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column-reverse nowrap;
    padding: 2rem;
    width: 100%;

    @media #{$mq-s} {
      flex-flow: row nowrap;
    }

    @media #{$mq-m} {
      width: 50%;
    }

    p {
      font-size: 1.125rem;
    }

    &__text {
      background-color: $gray-light;
      padding: 2rem;
    }

    &__image {
      background-color: $gray-light;
      flex: 0 0 auto;
      height: auto;
      padding: 2rem 2rem 0;

      @media #{$mq-s} {
        padding: 2rem 2rem 2rem 0;
      }

      img {
        display: block;
        height: auto;
        width: 7.5rem;
      }
    }
  }
}
