.page-menu {
  align-items: center;
  background-color: $orange;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  justify-content: center;
  left: 0;
  max-width: 72rem;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity ease-in-out .5s;
  width: 100%;
  z-index: 1000;

  .page--active-menu & {
    opacity: 1;
    pointer-events: all;
  }

  @media #{$mq-m} {
    background: none;
    height: auto;
    opacity: 1;
    padding: 2rem 4rem 0;
    pointer-events: all;
    position: relative;
  }

  @media #{$mq-l} {
    left: 50%;
    padding: 5rem 4rem 0;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
  }

  a {
    color: $day;
  }

  &__pages {
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    padding: 8rem 2rem 4rem;
    width: 100%;
    z-index: 2;

    @media #{$mq-m} {
      align-items: center;
      flex-flow: row nowrap;
      height: auto;
      justify-content: flex-end;
      padding: 0;
    }

    &__item {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      margin-right: 1.5rem;
      margin-top: 1.5rem;

      @media #{$mq-m} {
        font-size: 1.25rem;
        margin-top: 0;
      }
    }

    &__item:last-child {
      margin-right: 0;
    }
  }

  &__icons {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    left: 0;
    padding: 2rem;
    position: absolute;
    top: 0;
    z-index: 2;

    @media #{$mq-m} {
      padding: 0;
      position: relative;
    }

    &__item {
      color: $day;
      margin-right: 1.5rem;

      @media #{$mq-m} {
        display: none;
      }
    }

    &__item:last-child {
      margin-right: 0;

      @media #{$mq-m} {
        display: block;
        margin-left: 1.5rem;
      }
    }

    svg {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__menu-btn {
    background: none;
    color: $day;
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 2;

    @media #{$mq-m} {
      display: none;
    }

    &__text {
      font-size: 1.25rem;
      font-weight: 700;
      margin-right: .5rem;
    }

    svg {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__overlay {
    background-image: url('../images/title.png');
    background-size: cover;
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    @media #{$mq-m} {
      display: none;
    }
  }
}
