.page-main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  z-index: 10;

  &__content {
    align-items: center;
    background-color: $day;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 0;
    width: 100%;

    @media #{$mq-s} {

      .title--image + & {
        padding-top: 6rem;
      }
    }

    &:last-child {
      padding-bottom: 6rem;
    }

    &:last-child:nth-child(2),
    &--aside {
      background-color: $gray-light;
    }
  }
}

.more {
  display: flex;
  flex-flow: row wrap;
  max-width: 72rem;
  padding: 2rem;
  width: 100%;

  @media #{$mq-m} {
    padding: 2rem 4rem;
  }

  a {
    color: $orange-dark;
    font-size: 1.25rem;
    font-weight: bold;

    &::after {
      content: '\2192';
      padding-left: .125rem;
    }
  }
}
