.page {
  align-items: center;
  background-color: $orange;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  min-width: 20rem;
  overflow-x: hidden;
  padding-bottom: 4rem;
  width: 100%;
  z-index: 0;

  > * {
    flex: 0 0 auto;
  }

  &__overlay {
    background-image: url('../images/title.png');
    background-size: cover;
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &--active-menu {
    height: 100vh;
    overflow: hidden;

    > * {
      display: none;
    }
  }
}
