.page-header {
  display: flex;
  flex-flow: column nowrap;
  max-width: 72rem;
  padding: 2rem;
  pointer-events: none;
  width: 100%;
  z-index: 10;

  @media #{$mq-m} {
    padding: 4rem 4rem 2rem;
    z-index: 10000;
  }

  &__logo {
    height: 5rem;
    pointer-events: all;
    width: 16.875rem;

    @media #{$mq-s} {
      height: 6rem;
      width: 20.25rem;
    }

    svg {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &__menu-btn {
    background: none;
    color: $day;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2rem;
    margin-left: auto;
    pointer-events: all;

    @media #{$mq-m} {
      display: none;
    }

    &__text {
      font-size: 1.25rem;
      font-weight: 700;
      margin-right: .5rem;
    }

    svg {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
