.page-footer {
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  z-index: 100;
  align-items: center;

  &__wrapper {
    width: 100%;
    max-width: 72rem;
    padding: 0 1rem 2rem;
    display: flex;
    flex-flow: column nowrap;

    @media #{$mq-s} {
      flex-flow: row wrap;
    }

    @media #{$mq-m} {
      padding: 0 2rem 2rem;
    }
  }

  &__icon {
    margin-top: -4rem;

    svg {
      display: block;
      width: 8rem;
      height: 8rem;
    }

  }

  &__partners {
    padding: 2rem 1rem;
    width: 100%;

    @media #{$mq-m} {
      padding: 2rem;
      width: 50%;
    }

    @media #{$mq-l} {
      width: 62.5%;
    }
  }

  &__contact {
    padding: 2rem 1rem;
    width: 100%;

    @media #{$mq-m} {
      padding: 2rem;
      width: 50%;
    }

    @media #{$mq-l} {
      width: 37.5%;
    }
  }

  &__donate {
    padding: 2rem 1rem;
    width: 100%;

    @media #{$mq-m} {
      padding: 2rem;
    }

    @media #{$mq-l} {
      width: 62.5%;
    }
  }

  &__meta {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 1rem;
    width: 100%;

    @media #{$mq-m} {
      flex-flow: row nowrap;
      padding: 2rem;
    }

    a:hover {
      border-bottom: .125rem $gray-dark solid;
    }

    &__item {
      @include margin-fix;
      margin-top: .5rem;

      @media #{$mq-m} {
        margin-right: 1.5rem;
        margin-top: 0;
      }
    }

    &__item:last-child {
      margin-top: 2rem;

      @media #{$mq-m} {
        margin-left: auto;
        margin-right: 0;
        margin-top: 0;
      }
    }
  }
}

.partner {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 2rem;

  img {
    display: block;
    width: auto;
    height: auto;
    max-width: 6rem;
    max-height: 3rem;
  }
}
