.testimonial {
  display: flex;
  flex-flow: column nowrap;
  max-width: 42rem;
  width: 100%;

  @media #{$mq-s} {
    flex-flow: row nowrap;
  }

  @media #{$mq-l} {
    flex-flow: column nowrap;
  }

  &__image {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1rem;

    img {
      background-color: $orange;
      border-radius: 50%;
      display: block;
      height: auto;
      padding: 1rem;
      width: 12rem;

      @media #{$mq-s} {
        padding: .75rem;
        width: 9rem;
      }

      @media #{$mq-m} {
        padding: 1rem;
        width: 12rem;
      }
    }
  }

  &__quote {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 1rem;
  }
}
