.text {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  @media #{$mq-m} {
    padding: 0 2rem;
  }

  @media #{$mq-l} {
    flex-flow: row nowrap;
    justify-content: center;
  }

  &__main {
    padding: 2rem;
    width: 100%;

    @media #{$mq-l} {
      width: 44.5rem;

      &:last-child:first-child {
        padding-right: 24rem;
        width: 68rem;
      }
    }
  }

  &__aside {
    padding: 2rem;
    width: 100%;

    @media #{$mq-l} {
      width: 25.5rem;
    }
  }

  p:first-of-type {
    font-size: 1.25rem;
  }

  ul,
  ol {
    @include margin-fix;
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 2rem;
  }

  li {
    @include margin-fix;
    list-style-type: disc;
    margin-top: 1rem;
    max-width: 40rem;
  }

  figure {
    @include margin-fix;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 42rem;
    width: 100%;

    img {
      height: auto;
      max-width: 100%;
    }

    figcaption {
      font-style: italic;
      margin-top: 1rem;
    }
  }
}
