.title {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  z-index: 100;

  @media #{$mq-m} {
    align-items: flex-end;
    flex-flow: row wrap;
  }

  @media #{$mq-l} {
    padding-left: calc(50% - 36rem);
  }

  &__headline {
    flex: 0 0 auto;
    max-width: 24rem;
    padding: 4rem 2rem;
    width: 100%;

    @media #{$mq-m} {
      padding: 4rem 0 4rem 4rem;
    }
  }

  &__images {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    width: 100%;

    @media #{$mq-s} {
      margin-bottom: -4rem;
      margin-left: 2rem;
    }

    @media #{$mq-m} {
      flex: 1 0 auto;
      margin-left: 4rem;
      width: 32rem;
    }

    figure {
      flex: 0 0 auto;
      width: 100%;
    }

    figure:nth-child(n+2) {
      margin-left: -100%;
    }

    cite {
      background-color: $gray-light;
      bottom: 0;
      max-width: 20rem;
      padding: .5rem;
      position: absolute;
      right: 0;
    }

    img {
      display: block;
      height: auto;
      width: 100%;

      @supports (object-fit: cover) {
        object-fit: cover;
        width: 100%;
        height: 66.666vw;

        @media #{$mq-s} {
          height: auto;
          object-fit: fill;
        }
      }
    }

    &--setof2 {

      figure {
        animation-name: setof2;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }

      figure:nth-child(1) {
        z-index: 3;
      }

      figure:nth-child(2) {
        animation-delay: 5s;
        z-index: 2;
      }

      @keyframes setof2 {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 1;
          z-index: 4;
        }

        60% {
          opacity: 0;
          z-index: 4;
        }

        90% {
          opacity: 0;
          z-index: 1;
        }

        100% {
          opacity: 1;
          z-index: 1;
        }
      }
    }

    &--setof3 {

      figure {
        animation-name: setof3;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }

      figure:nth-child(1) {
        z-index: 3;
      }

      figure:nth-child(2) {
        animation-delay: 5s;
        z-index: 2;
      }

      figure:nth-child(3) {
        animation-delay: 10s;
        z-index: 1;
      }

      @keyframes setof3 {
        0% {
          opacity: 1;
        }

        33% {
          opacity: 1;
          z-index: 4;
        }

        40% {
          opacity: 0;
          z-index: 4;
        }

        94% {
          opacity: 0;
          z-index: 1;
        }

        100% {
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
}
